__pycache__
*.egg
*.egg-info
.sconf_temp
.sconsign.dblite
*.log
version.py
**/.DS_Store

# pytest
tests/.tests
pytest_session.txt
.hypothesis
.pytest_cache
.coverage

# editors
.idea
.vscode

# ts_pre_commit_conf
.flake8
.isort.cfg
.mypy.ini
.pre-commit-config.yaml
.ruff.toml
towncrier.toml
