.sconsign.dblite
.sconf_temp
*.log
__pycache__

# Built by sconsUtils
version.py
bin/

# Pytest
tests/.tests
pytest_session.txt
.cache/
.pytest_cache
.coverage
.hypothesis

# Editors
.vscode
.pre-commit-config.yaml
.flake8
.isort.cfg
.mypy.ini
